* {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: none;
}
body {
  font-family: "Mukta", sans-serif;
  color: #111010;
}
nav {
  width: 100%;
  height: 50px;
  display: inline;
  color: rgb(88, 130, 156);
  align-items: center;
  position: relative;
}

h3 {
  position: fixed;
  left: 20px;
  top: 20px;
  color: rgb(35, 81, 112);
  cursor: pointer;
  display: inline-block;
  z-index: 999;
}
h3:hover {
  color: rgb(88, 130, 156);
}
.container {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container li {
  display: inline-block;
  margin-top: 20px;
}
.container li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(73, 135, 174);
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container li {
  margin-right: 10px;
}

.container li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(73, 135, 174);
  font-family: "Mukta", sans-serif;
}
.container li a:hover {
  color: rgb(136, 87, 125);
}
.home {
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative;
}

.profile {
  top: 100px;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  margin-top: 50px;
  cursor: pointer;
  transition: 1s ease;
}

.profile:hover {
  transform: scale(1.1);
}

.about {
  width: 100%;
  height: 700px;
  text-align: center;
  position: relative;
  animation: slidein 4s;
}
@keyframes slidein {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(25px);
  }
}
.aboutme {
  font-size: 18px;
  animation: about 5s;
  color: #111;
}
.about-title {
  color: rgb(88, 130, 156);
}
@keyframes about {
  from {
    line-height: 300;
  }
  to {
    line-height: 30px;
  }
}
.skills {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
}
.skills h1 {
  color: rgb(88, 130, 156);
}
.skills button {
  width: 100px;
  height: 50px;
  background-color: rgb(88, 130, 156);
  color: #ffff;
  border-radius: 12px;
  cursor: pointer;
}
.skills h2 {
  font-size: 16px;
}
.skills button:hover {
  background-color: rgb(73, 135, 174);
  color: white;
}
.skills button a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(88, 130, 156);
}
.skills img {
  width: 400px;
}
hr {
  height: 0.5px;
}

.contact {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
  background-color: #fff;
  top: 500px;
}
.contact h1 {
  color: rgb(88, 130, 156);
}
.inputField {
  width: 405px;
  height: 40px;
  color: #111;
  font-family: monospace;
  font-size: 25px;
  outline: none;
  border-radius: 12px;
}
.btn {
  width: 90px;
  height: 30px;
  font-family: monospace;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}
.btn:hover {
  background: rgb(240, 244, 246);
}
.inputField::placeholder {
  color: black;
}
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;

  outline: none;
}
label {
  font-family: monospace;
  font-size: 20px;
  color: #111;
  background-color: #fff;
}
#status {
  font-family: cursive;
}
.footer {
  width: 100%;
  height: 30px;
  text-align: center;
  position: relative;
  top: 500px;
  background-color: rgb(73, 135, 174);
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  background-color: #fff;
}
.span {
  font-family: monospace;
  color: #111;
  margin-top: 10px;
}
.projects img {
  width: 300px;
  transition: 3s ease;
  cursor: pointer;
  margin-top: 30px;
}
.projects img:hover {
  transform: scale(1.2);
}
.projects h2 {
  color: rgb(88, 130, 156);
}
form {
  background-color: #fff;
  padding: 20px;
}
.c {
  transition: 1s ease;
  color: #ffff;
  cursor: pointer;
}
.c:hover {
  transform: scale(1.1);
}
.toggle-button {
  display: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(73, 135, 174);
  margin: 5px 0;
}

@media (max-width: 768px) {
  .container ul {
    display: none;
  }

  .toggle-button {
    display: block;
    cursor: pointer;
  }
  .projects img {
    width: 100px;
  }
  .toggle-button {
    position: absolute;
    top: 20px;
    right: 40px;
  }
  .container li a {
    font-size: 14px;
    text-align: center;
  }

  .menu.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.f {
  display: none;
}
